body {
  background-color: rgb(43, 42, 42);
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  color: aliceblue;
}


header {
  display: flex;
  gap: 4px;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;
}


.pointer {
  cursor: pointer;
}
